
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h2>Hi {{ $name }}</h2>
    <p>Chúc mừng bạn đã đặt hàng thành công!</p>
    <h4>Thông tin đơn hàng của bạn:</h4>
    <h5>Mã đơn hàng: {{ $order->id }}</h5>
    <h5>Ngày đặt hàng: {{ $order->created_at }}</h5>
    
    <h5>Chi tiết sản phẩm</h5>
    
    
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>SL</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            {{ $n = 1 }}
            @foreach ($items as $item)
            <tr>
                <td>{{ $n }}</td>
                <td>{{ $item['name'] }}</td>
                <td>{{ $item['price'] }}</td>
                <td>{{ $item['quantity'] }}</td>
                <td>{{ $item['price']*$item['quantity'] }}</td>
            </tr>
            {{ $n = $n +1 }}
            @endforeach
            <tr>
                <td>Tổng tiền:</td>
                <td>{{ $total }}</td>
            </tr>
        </tbody>
    </table>
    
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
